


* {
    margin: 10px;
    padding: 5px;
    border-style: hidden;
    font-size: 16px;
    border-width: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
        
}
/* body{
    background-color: slategray;
    --primary-color: red;
    --secondary-color: blue;
    --tertiary-color: yellow;
} */

.container{
    display: grid;
    grid-gap: 15xp 20px;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 100px 200px 200px 100px;
    margin: 2rem auto;
    width: 1000px;
}

/* p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

h1{
    font-size: 10px ;
    color: rgb(229, 236, 222);
}
h2{
    text-align: right;
}
 h3{
     font-size: 23px;
 } */
